<h1> Lista de Hereos</h1>
<hr>
<div class="col text-right">
    <button class="btn btn-primary" routerLink="/heroe/nuevo"> + Agregar </button>
</div>
<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Vivo</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
    </tbody>
</table>

<div class="alert-info alert text-center mt-3">
    <h1>Cargando</h1>
    <i class="fa fa-sync-alt fa-spin fa-2x "></i>
    <p>
        Espere por favor
    </p>
</div>
<div class="alert-warning alert text-center mt-3">
    <h1>No hay registro</h1>
    <i class="fa fa-exclamation fa-2x mb-3"></i>
</div>